body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#ci-helper {
    width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    /*text-align: center;*/
}


